body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: 	#FFC0CB;
    color: white;
    text-align: center;
 }

 .jumbotron{
  color: white;
  background-color: pink;
  }

footer{
  background-color: #FFC0CB;
  color: white;
}

footer a{
  color: white;
}